{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block app_content %}
<h1>Create Account</h1>
<form class="col-md-6" action="" method="post">
    {{ form.hidden_tag() }}
    {{ wtf.form_field(form.username, class="form-control") }}
    {{ wtf.form_field(form.password, class="form-control") }}
    {{ wtf.form_field(form.password2, class="form-control") }}
    {{ wtf.form_field(form.discord_name, class="form-control") }}
    {{ wtf.form_field(form.pronunciation, class="form-control") }}
    <label for="pronouns" style="margin-bottom:-10px;">{{form.pronouns.label}}</label>
    {{ wtf.form_field(form.pronouns, class="form-control") }}
    {{ wtf.form_field(form.interesting_facts, class="form-control", rows=5, maxlength="500") }}
    {{ wtf.form_field(form.submit, class="form-control btn btn-primary") }}
</form>


{% endblock %}